* {
    --header-hyperlink-color: black;
}


.header {
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

.header__search,
.header__kanjitable,
.header__about {
    flex: 1 1 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.125rem;
}  

a:visited {
    color: var(--header-hyperlink-color);
}